<h1 class="top">Cadastrar Pizza daora!</h1>
<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleInputNome">Nome</label>
      <input type="text" class="form-control" id="exampleInputNome" placeholder="Nome da pizza">
    </div>
    <div class="form-group wrapper">
      <label for="exampleInputCodigo">Código</label>
      <input type="number" class="form-control" id="exampleInputCodigo" placeholder="Nome do código">
    </div>
    <div class="form-group wrapper">
      <label for="exampleInputValor">Valor</label>
      <input type="number" class="form-control" id="exampleInputValor" placeholder="Valor">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<!-- Tabela -->
<div style="margin-top: 2em;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>